@import "../../../../styles/variables";

.sidenav {
  &__container {
    height: 100vh;
    width: 200px;
    transition: width 0.6s ease-in-out;

    &.collapsed {
      width: 70px;
    }
  }
}

.logo {
  &__container {
    margin-top: 2rem;
    margin-left: 1rem;
    transition: all 0.6s ease-in-out;

    &.collapsed {
      margin-top: 1rem;
      opacity: 0.6;
    }
  }

  &__img {
    width: 130px;
    transition: all 0.6s ease-in-out;

    .collapsed & {
      width: 60px;
    }
  }
}

.menu {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 2rem;
    margin-top: 5rem;
  }
}

.logout {
  &__container {
    position: absolute;
    bottom: 1rem;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    color: $primary-dark;
    background: transparent;
    transition: all 0.5s ease-in-out;

    &:hover {
      cursor: pointer;
      background: rgba($primary-light, 0.3);
    }

    &.collapsed {
      width: 160px;
    }
  }

  &__icon {
    &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
    }

    font-size: 20px;
    margin-right: 2rem;
    color: $secondary-light;
    transition: color 0.7s ease-in-out;
    z-index: 10000;
  }

  &__text {
    text-align: left;
    font-size: 14pt;
    font-variant: small-caps;
    font-weight: 400;
    color: $secondary-light;
    transition: all 0.7s ease-in-out;
    z-index: 10000;

    .collapsed & {
      opacity: 0;
    }
  }
}