@import "src/styles/variables";

.ResourcesPage {
  &__container {
    display: flex;
    flex-direction: row;
  }

  &__column {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 60px;
  }

  &__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    color: $dark;
    margin-bottom: 1rem;
  }

  &__presentations {
    display: flex;
    max-height: 55vh;
    flex-direction: column;
    background: #ebebeb;
    border-radius: 20px 0 0 20px;
    overflow-y: scroll;
    margin-bottom: 1rem;
  }

  &__lives {
    display: flex;
    max-height: 22vh;
    flex-direction: column;
    background: #ebebeb;
    border-radius: 10px;
    overflow-y: scroll;
  }

  &__videos {
    display: flex;
    max-height: 38vh;
    flex-direction: column;
    background: #ebebeb;
    border-radius: 10px;
    margin-bottom: 1rem;
    overflow-y: scroll;
  }

  &__exercises {
    display: flex;
    max-height: 38vh;
    flex-direction: column;
    background: #ebebeb;
    border-radius: 10px;
    overflow-y: scroll;
  }
}