@import "../../styles/variables";

.TestPage {
  &__container {
    display: flex;
    width: 95%;
    flex-direction: column;
  }

  &__test {
    display: flex;
    flex-direction: row;
    min-height: 55vh;
  }

  &__info {
    display: flex;
    flex: 3;
    flex-direction: column;
    margin-right: 30px;

    &__title {
      font-size: 32px;
      font-weight: 600;
      color: $dark;
    }
  }

  &__time {
    &__container {
      display: flex;
      flex-direction: column;
      flex: 1;
      align-items: center;
      justify-content: center;
      margin: 1rem 0 1rem 1rem;
      padding: 1rem;
      background: #EBEBEB;
      border-radius: 20px;
    }

    &__title {
      color: $primary-dark;
      font-weight: 500;
      font-variant: small-caps;
      font-size: 22px;
      margin-bottom: 20px;
    }

    &__date {
      color: $primary-dark;
      font-weight: 500;
      font-variant: small-caps;
      font-size: 28px;
    }
  }

  &__start {
    &__container {
      display: flex;
      flex: 1;
      margin: 0 0 1rem 1rem;
      padding: 1rem;
      background: #EBEBEB;
      border-radius: 20px;
      position: relative;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background: $primary-dark;
      box-shadow: 0 0 10px $primary;

      &.disabled {
        background: radial-gradient(84.55% 84.55% at 50% 50%, #7F8086 0%, #535459 100%);
        pointer-events: none;

        & span {
          color: #B8B8B8 !important;
        }
      }

      &:hover {
        cursor: pointer;
      }

      &:after {
        opacity: 0;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: radial-gradient(84.55% 84.55% at 50% 50%, #5A6186 0%, #2F3759 100%);
        transition: opacity 0.7s ease-in-out;
      }


      &:hover.TestPage__start__container::after {
        opacity: 1;
      }
    }

    &__text {
      z-index: 10000;
      color: $white;
      font-weight: 600;
      font-size: 30px;
    }
  }

  &__resources {
    display: flex;
    flex: 1;
    flex-direction: column;

    &__container {
      flex: 1;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      margin-top: 25px;
      background: #EBEBEB;
      border-radius: 20px;
    }

    &__title {
      font-size: 22px;
      font-weight: 600;
      color: $dark;
    }
  }

  &__results {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    min-height: 30vh;

    &__title {
      font-size: 22px;
      font-weight: 600;
      color: $dark;
    }
  }
}