@import "../styles/variables";

.app-layout {
  &__container {
    display: flex;
    flex-direction: row;
    background: $primary;
  }

  &__window {
    flex: 1;
  }

  &__content {
    flex: 1;
    border-top-left-radius: 100px;
    height: calc(95vh - 50px);
    padding-left: 50px;
    padding-top: 50px;
    background: white;
  }
}